:root {
    --MainCol: rgb(6,3,105);
    --DefCol: white;
}

* {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0px;
    font-family:'fantasy';
    display: grid;
}

.real {
    color: #222;
    height: auto;
    width: auto;
    border-bottom: 8px var(--MainCol) solid;
}

.real h1 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-shadow: 1px 2px #222;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.real img {
    display: block;
    height: 140px ;
    width: 100%;
}

.Opener {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 20px 55px;
    margin-bottom: 10px;
    scale: 80%;
    top: 5px;

}

.Home-Desc {
    scale: 85%;
    margin-left: 75px;
    padding: 20px;
    padding-top: 1px;
    border: 8px var(--MainCol) solid;
    border-radius: 2rem;
}

.Home-Desc h4 {
    height: 9px;
    min-width: 143px ;
    scale: 110%;
    margin: 30px 70px ;
}

#Help-Us {
    margin-left: 185px;

}

.Home-Desc h2 {
    text-align: center;
    max-height: 4px;
    scale: 130%;
}

nav {
    position: fixed;
    padding-right: 18px;
    top: 0;
    left: 0;
    height: 100vh;
    width: 145px;
    background: var(--MainCol);
}

.nav-cont {
    margin: 0px;
    padding: 0%;
    width: 140px;
    height: 100vh;
    list-style: none;
    background: var(--DefCol);
}

.nav-cont li.active {
    background-color: var(--MainCol);
}

.nav-cont a:visited , a:link {
    color: rgb(60, 31, 190);
    text-decoration: none;
}


.Photos {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    gap: 20px;
}

.Photos img{    
    height: 135px;
    width: 200px;
    margin-left:85%;
    border: var(--MainCol) solid;
    border-radius: 20px;
}

#cl {
    object-fit: cover;
    object-position: 0% 40%;
}

.HelpRedirect {
    margin: 20px 20%;
    position: sticky;
}

.HelpRedirect a:visited, a:link, a {
    color: rgb(60, 31, 190);
    text-decoration: none;
}

.HelpRedirect p {
    margin-bottom: 50svh;
}

.Vids {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    gap: 20px;
}

.Vids video{
    height: 144px;
    width: 250px;
    margin-left:70%;
    border: var(--MainCol) solid;
    border-radius: 20px;
}

.Subs{
    margin-left: 12%;
}

.Media {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    gap: 20px;
}

.Media img{
    object-fit: cover;
    object-position: top;
    height: 155px;
    width: 200px;
    margin-left:95%;
    border: var(--MainCol) solid;
    border-radius: 20px;
}

.Media video{
    object-fit: cover;
    object-position: 0% 34%;
    height: 155px;
    width: 200px;
    margin-left:95%;
    border: var(--MainCol) solid;
    border-radius: 20px;
} 

img.Siel {
    object-fit: cover;
    object-position: center;
}

img.Siel2 {
    object-fit: cover;
    object-position: 0% 40%;
    height: 155px;
    width: 200px;
    margin-left:95%;
    border: var(--MainCol) solid;
    border-radius: 20px;
}

.Kill-em-all img {
    margin-top: 20px;
    margin-left: 225px;
    width: 426px;
    height: 40px;  
    object-fit: cover;
    object-position: 50% 100%;
    border-top: solid black 4px;
}
