* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, system-ui;
}

body{
  background-color: rgb(119, 0, 255);
  min-height: 100dvh;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Header and Navbar */

.navbar{
  background: rgb(3, 0, 7);
  background-repeat: no-repeat;
  background-size: 100dvw 100dvh;
  width: 100dvw;
  height: 100dvh;
  background-position: center;
}

header {
  height: 60px;
  display: flex;
  padding: 30px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  transition: 500ms;
  z-index: 9999;
}

.text{
  padding-top: 60px;
  outline: none;
  font-size: 8dvw;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(135deg, rgb(141, 0, 143) 0%, rgb(128, 0, 255) 25%);
  background-size: 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text h1{
  margin-top: 15%;
}

nav{
  margin-right: 70px;
}

nav a{
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
  text-decoration: none;
  color: #fafafa;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  padding: 10px 1px;
  transition: 200ms;
}

nav a:hover {
  border-color: cornflowerblue;
}

.logo{
  flex: 1;
  font-size: 35px;
  margin-left: 70px;
  color: #fafafa;
}

.bgc{
  background: rgb(3, 0, 7);
  padding: 40px 10px;
}

.bgc .logo{
  font-size: 30px;
  color: #fafafa;
}

.bgc nav a{
  color: #fafafa;
}

@keyframes animate {
  100% {
    background-position: 400%;
  }
}

/* Content */

.content{
  padding: 5% 20px 10% 60px;
  width: 100dvw;
  background: linear-gradient(rgb(3, 0, 7), rgb(67, 0, 143), rgb(119, 0, 255));
}

.content img{
  width: 30dvw;
  height: auto;
}

.main{
  width: 80%;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content h1{
  color: #fafafa;
  font-size: 80px;
  text-transform: capitalize;
  padding-top: 0;
  padding-bottom: 50px;
  text-align: center;
}

.content .content-text{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.119));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  max-width: 65%;
  padding: 20px;
}

.content .content-text h2{
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 0;
  font-size: 40px;
  color: #fafafa;
}

.content .content-text p{
  padding: 20px;
  padding-bottom: 0;
  line-height: 1.8em;
  font-size: 24px;;
  color: #fafafa;
}

/* Project */
.project{
  width: 100dvw;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  background: linear-gradient(rgb(119, 0, 255), rgb(3, 0, 7));
  padding: 20px;
  padding-top: 120px;
  text-align: center;
}

.project-content{
  width: 100dvw;
  position: relative;
  margin: auto;
}

.project h1{
  color: #fafafa;
  font-size: 80px;
  text-transform: capitalize;
  padding-top: 0;
  padding-bottom: 50px;
  text-align: center;
}

.project-text{
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.project-text:hover{
  opacity: 1;
}

.project-text > *{
  transform: translateY(25px);
  transition: transform 0.6s;

}
.project-text:hover > *{
  transform: translateY(0px);
}

.project .project-content .project-text h2{
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 0;
  font-size: 40px;
  color: #ff961e;
}

.project .project-content .project-text p{
  padding: 20px;
  padding-bottom: 0;
  line-height: 1.8em;
  font-size: 24px;;
  color: #fafafa;
}

.project img{
  width: 100dvw;
  display: block;
  margin: auto;
}

/* Exit Text */

.text-end{
  background: rgb(3, 0, 7);
  padding-top: 120px;
  padding-bottom: 0;
  width: 100dvw;
  height: 80dvh;
  text-align: center;
}

.end-text{
  outline: none;
  font-size: 8dvw;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(135deg, rgb(141, 0, 143) 0%, rgb(128, 0, 255) 25%);
  background-size: 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End */
.end{
  padding-top: 0;
  width: 100dvw;
  background-color:rgb(3, 0, 7) ;
}

ul{
  list-style: none;
}

footer{
  width: 100dvw;
  height: 30dvh;
  background-color:rgb(3, 0, 7) ;
  color: #fafafa;
  padding: 2em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.end h1 {
  text-align: center;
  font-size: 4dvw;
  padding-bottom: 20px;
  color: #fafafa;
}

.socmed{
  width: 66.6dvw;
  text-align: center;
  background: inherit;
}

.end h3{
  font-size: 30px;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 0;
}

.socmed li{
  display: inline;
}

.socmed ul a{
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 60px;
  font-size: 50px;
}

.email{
  width: 16.6dvw;
  background: inherit;
}

.end p{
  padding: 20px;
  text-align: start;
  padding-top: 5px;
  padding-bottom: 0;
  font-size: 18px;
}

.quotes{
  width: 16.6dvw;
  text-align: center;
  font-style: italic;
  background: inherit;
}

.socmed i{
  color: rgb(119, 0, 255);
}

.socmed i:hover{
  color: rgb(0, 128, 255);
  transition: 200ms;
}

/* Mobile Version, but I'll never knew when will I work for mobile version */